Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=betterfiveicondockDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=betterfiveicondockDp
Author: Redpandadev <rpdev@rpdev.info>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: betterFiveIconDock
Package: info.rpdev.betterfiveicondock
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 8.0), com.chpwn.iconsupport
Section: Tweaks
Installed-Size: 130
Version: 1.0.4
Architecture: iphoneos-arm
Description: Five Icon Dock with proper spacing!
dev: rpdev
Tag: purpose::extension, compatible::ios8, compatible::ios9
