Package: com.vanishingtacos.respringpack
Name: Requested Respring Animation Pack
Version: 1.0.1
Depends: com.anemonetheming.anemone
Architecture: iphoneos-arm
Description: Requested Respring Animation Pack
Maintainer: u/vanishingtacos
Author: vanishingtacos
Section: Themes
