Package: com.vanishingtacos.deadsec
Name: DeadSec Respring Animation
Version: 1.0.1
Architecture: iphoneos-arm
Depends: firmware (>=7.0), com.anemonetheming.anemone
Description: DeadSec skull respring animation :)
Maintainer: VanishingTacos
Author: VanishingTacos
Section: Themes
Depiction: https://vanishingtacos.github.io/depictions/?p=com.vanishingtacos.deadsec

