Package: com.vanishingtacos.deadsecrespring
Name: DeadSec Respring Animation 
Version: 1.0
Architecture: iphoneos-arm
Description: DeadSec Skull respring animation
Maintainer: u/vanishingtacos
Author: vanishingtacos
Section: Themes
